:root {
    box-sizing: border-box;
    font-size: 1em;
}

* {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-size: 1rem;
    background-color: #eee;
}

/* Header styles */
.page-header {
    background-color: #8071ff;
    color: #fff;
    padding: 0.1rem 1rem 0.2rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.center {
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}
.center .title{
    padding: 0 0 0 0.4rem;
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: capitalize;
}

/* Main section */
.page-main{
    min-height: 100vh;
    margin:1rem 0.5rem;
}
.container{
    background-color: #fff;
    padding: 2rem 1rem;
    border-radius: 1em;
}

/* Footer */
.page-footer{
    background-color: black;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

.page-footer p{
    margin: 0;
    font-size: 0.9rem;
}